.navbar {
    background: #1F2547;
}

.navbarbrand{
 color: white;
}

.modal-header{
    background: #384380;
    color: white; 
    padding: 10px;
}
.modal-footer{
    background: #384380;
    color: white; 
    padding: 3px;
}